/* 01-accordion */
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* 
MAIN COLOR: #087f5b
GRAY COLOR: #343a40 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

/* colors: #e6fcf5 #c3fae8 */
/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

/* ACCORDION STYLES */
.accordion {
  width: 700px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number,
.text {
  font-size: 24px;
  font-weight: 500px;
  /* color: #087f5b; */
}

.number {
  color: #ced4da;
}

.text {
}

.arrow {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 18px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #087f5b;
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text {
  color: #087f5b;
}

/* CAROUSEL STYLES */
.carousel {
  background-color: #087f5b;
  width: 800px;
  margin: 100px auto;
  /* padding: 32px;
  padding-left: 86px;
  padding-right: 48px; */
  padding: 32px 48px 32px 86px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 86px;

  position: relative;
}

img {
  height: 200px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.testimonial {

}

.testimonial-text {
  font-size: 18px;
  font-weight: 500px;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}

.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}

.testimonial-job {
  font-size: 12px;
  color: #c3fae8;
}


/* CONTROLS */
.btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--left {
  /* IN RELATION TO PARENT ELEMENT */
  left: 0;
  top: 50%;

  /* IN RELATION TO ELEMENT ITSELF */
  transform:translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);

  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: #087f5b;
}

/* TABLE COMPONENT */
body {
  display: flex;
  justify-content: center;
}

table {
  font-size: 18px;
  margin-top: 100px;
  width: 800px;
  /* border: 1px solid #343a40; */
  border-collapse: collapse;
}

th, td {
  /* border: 1px solid #343a40; */
  padding: 16px 24px;
  text-align: left;
}

thead th {
  background-color: #087f5b;
  color: #fff;
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}


/* PAGINATION COMPONENT */
body {
  display: flex;
  align-items: center;
}

.pagination {
  font-size: 24px;
  margin-top: 100px;
  width: 700px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}


.page-nums {
  display: flex;
  /* justify-content:; */
  gap: 12px;
}

a.page-num:link,
a.page-num:visited {
  height: 56px;
  width: auto;
  /* display: inline-block; */
  flex: 1 0 auto;
  height: auto;
  /* padding: 24px; */
  text-decoration: none;
  color: #343a40;

  /* flex: 0 0 16px; */
}

a.page-num:hover,
a.page-num:active {
  border-radius: 50%;
  background-color: #087f5b;
  color: #fff;
}

.page-dots {}

.pgn-arrow {
  height: 48px;
  width: 48px;
  padding: 12px;
  stroke: #087f5b;
  border: 1px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}
.pgn-arrow:hover {
  background-color: #087f5b;
  stroke: #fff;
}

.pgn-arrow--left {}

.pgn-arrow--right {}



